
<div class="flex flex-column" *ngIf="locacao">
  <label for="" >Cliente: {{locacao.cliente.nome}}</label>
  <label for="" >Item: {{locacao.item.numSerie}}</label>
  <label for="">Data da Devolução Prevista: {{ locacao.dtDevolucaoPrevista | date:'dd/MM/yyyy' }}</label>
  <label for="" >Data da Locação: {{locacao.dtLocacao | date:'dd/MM/yyyy'}}</label>
  <label for="" >Valor Cobrado (R$): {{locacao.valorCobrado}}</label>
  <label for="" style="color: red;">Multa (R$): {{multa}}</label>
  <label for="" style="font-weight: 500;">Total (R$): {{total}}</label>

  <p-button (onClick)="devolver()" class="mt-1" styleClass="p-button-success">Devolver</p-button>
</div>
