<div class="flex flex-row justify-between align-center">
  <div class="flex flex-row" style="gap: 1rem;" >
    <p-button *ngIf="showBtnLeft" (onClick)="onClickBtnLeft()" icon="pi pi-arrow-circle-left" class="left-btn"></p-button>
    <h1>{{nomeEntidade}}</h1>
  </div>
  <p-button *ngIf="nomeEntidade != 'Histórico de Devoluções' && nomeEntidade != 'Consultar Titulo'" label="Cadastrar" styleClass="p-button-success" (onClick)="openModal()"></p-button>
</div>

<div *ngIf="nomeEntidade == 'Consultar Titulo'" style="display: flex; margin-bottom: 0.5rem;">
 <div style="display: flex; gap: 1rem; margin-right: 0.5rem;">
  <h3>Nome: </h3>
  <input pInputText [(ngModel)]="nomeTituloFilter" type="text" placeholder="Digite o nome do título" (onChange)="onChangeConsultarTitulo()">
 </div>

 <div style="display: flex; gap: 1rem; margin-right: 0.5rem;">
  <h3 style="position: relative; bottom: 7px; ">Categoria: </h3>
  <p-dropdown [options]="categorias" [(ngModel)]="categoriaFilter" [placeholder]="idEntidade <= 0 ? 'Selecione uma Categoria' : ''"
  (onChange)="onChangeConsultarTitulo()"
  ></p-dropdown>
 </div>

 <div style="display: flex; gap: 1rem; margin-right: 0.5rem;">
  <h3 style="position: relative; bottom: 7px; ">Ator: </h3>
  <p-dropdown [options]="atores" [(ngModel)]="atorFilter" [placeholder]="idEntidade <= 0 ? 'Selecione um Ator' : ''"  optionLabel="nome"
  (onChange)="onChangeConsultarTitulo()"
  ></p-dropdown>
 </div>
</div>

<p-table [columns]="cols" [value]="results" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns" >
          <th *ngIf="col.isShow">{{ col.header }}</th>
        </ng-container>

        <th >Ações</th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns">
          <td *ngIf="col.isShow && col.type === 'date'"> {{ rowData[col.field] | date:'dd/MM/yyyy' }}</td>
          <td *ngIf="col.isShow && (col.type == 'text' || col.type == 'number')"> {{ rowData[col.field] }}</td>
          <td *ngIf="col.isShow && col.type == 'cliente'"> {{ rowData.cliente.nome }}</td>
          <td *ngIf="col.isShow && col.type == 'item'"> {{ rowData.item.numSerie }}</td>
          <td *ngIf="col.isShow && col.type == 'categoria'"> {{ rowData.categoria }}</td>
        </ng-container>

        <td *ngIf="nomeEntidade != 'Consultar Titulo'">
          <p-button *ngIf="nomeEntidade != 'Histórico de Devoluções'" pTooltip="Editar" icon="pi pi-pencil" class="mr-1" styleClass="p-button-warning" (onClick)="editarEntidade(rowData)"></p-button>
          <p-button *ngIf="nomeEntidade != 'Locação' && nomeEntidade != 'Histórico de Devoluções'" pTooltip="Excluir" icon="pi pi-trash" class="mr-1" styleClass="p-button-danger" (onClick)="showConfirmationToDelete(rowData)"></p-button>

          <ng-container *ngIf="nomeEntidade == 'Cliente'">
            <p-button pTooltip="Gerenciar Dependentes" icon="pi pi-users" class="mr-1" styleClass="p-button-primary" (onClick)="gerenciarDependente(rowData)"></p-button>
            <p-button [pTooltip]="rowData.esta_ativo ? 'Desativar Sócio' : 'Ativar Sócio'" [icon]="rowData.esta_ativo ? 'pi pi-lock-open' : 'pi pi-lock'" class="mr-1" styleClass="p-button-secondary" (onClick)="ativarOrDesativarSocio(rowData)"></p-button>
            <p-button pTooltip="Visualizar Cliente" icon="pi pi-info" class="mr-1" styleClass="p-button-help" (onClick)="openLocacao(rowData)"></p-button>
          </ng-container>

          <ng-container *ngIf="nomeEntidade == 'Dependente'">
            <p-button [pTooltip]="rowData.esta_ativo ? 'Desativar Dependente' : 'Ativar Dependente'" [icon]="rowData.esta_ativo ? 'pi pi-lock-open' : 'pi pi-lock'" class="mr-1" styleClass="p-button-secondary" (onClick)="ativarOrDesativarDependente(rowData)"></p-button>
          </ng-container>


          <p-button *ngIf="nomeEntidade == 'Locação' || nomeEntidade == 'Histórico de Devoluções'" pTooltip="Cancelar Locação" icon="pi pi-minus-circle" class="mr-1" styleClass="p-button-danger" (onClick)="showConfirmationToCancelarLocacao(rowData)"></p-button>
          <p-button *ngIf="nomeEntidade == 'Locação'" pTooltip="Devolver Locação" icon="pi pi-sign-in" class="mr-1" styleClass="p-button-secondary" (onClick)="devolverLocacao(rowData)"></p-button>

        </td>

        <td *ngIf="nomeEntidade == 'Consultar Titulo'"><p-button  pTooltip="Visualizar Título" icon="pi pi-info" class="mr-1" styleClass="p-button-help" (onClick)="visualizarTitulo(rowData)"></p-button></td>
      </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog [header]="'Cadastrar ' + nomeEntidade" [(visible)]="openDialog" [responsive]="true"
  [style]="{ 'width': '50vw', 'height': '60hw' }">
  <ng-container *ngIf="openDialog">
    <create-generic [nomeEntidade]="nomeEntidade" [atributos]="cols" [idEntidade]="idEntidade" [rota]="rota" (formularioEnviado)="processarFormulario($event)">
    </create-generic>
  </ng-container>
</p-dialog>

<p-dialog [header]="'Gerenciar Dependentes'" [(visible)]="openDialogDependentes" [responsive]="true"
  [style]="{ 'width': '80vw', 'min-height': '80hw' }">
  <ng-container *ngIf="openDialogDependentes">
    <cadastros [nomeEntidade]="'Dependente'" (onSave)="onSaveCadastros($event)" >
    </cadastros>
  </ng-container>
</p-dialog>

<p-dialog [header]="'Efetuar Devolução'" [(visible)]="openDialogEfetuarDevolucao" [responsive]="true"
  [style]="{ 'width': '80vw', 'min-height': '80hw' }">
  <ng-container *ngIf="openDialogEfetuarDevolucao">
    <efetuar-devolucao [numSerie]="idLocacaoParaEditar" (onSave)="onDevolverItem($event)" >
    </efetuar-devolucao>
  </ng-container>
</p-dialog>

<p-messages></p-messages>


<p-dialog [header]="'Visualizar Entidade'" [(visible)]="openVisualizarLocacao" [responsive]="true"
  [style]="{ 'width': '80vw', 'min-height': '80hw' }">
  <ng-container *ngIf="openVisualizarLocacao">
    <show-generic [cliente]="clienteParaVisualizar"
    [titulo]="tituloParaVisualizar"
     (onSave)="onDevolverItem($event)" >
    </show-generic>
  </ng-container>
</p-dialog>
