<div class="flex flex-row justify-between align-center">
  <div class="flex flex-row" style="gap: 1rem;" >
    <p-button *ngIf="showBtnLeft" (onClick)="onClickBtnLeft()" icon="pi pi-arrow-circle-left" class="left-btn"></p-button>
    <h1>{{nomeEntidade}}</h1>
  </div>
  <p-button label="Cadastrar" styleClass="p-button-success" (onClick)="openModal()"></p-button>
</div>

<p-table [columns]="cols" [value]="results" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns" >
          <th *ngIf="col.isShow">{{ col.header }}</th>
        </ng-container>

        <th >Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns">
          <td *ngIf="col.isShow && col.type === 'date'"> {{ rowData[col.field] | date:'dd/MM/yyyy' }}</td>
          <td *ngIf="col.isShow && col.type !== 'date'"> {{ rowData[col.field] }}</td>
        </ng-container>

        <td>
          <p-button pTooltip="Editar" icon="pi pi-pencil" class="mr-1" styleClass="p-button-warning" (onClick)="editarEntidade(rowData)"></p-button>
          <p-button pTooltip="Excluir" icon="pi pi-trash" class="mr-1" styleClass="p-button-danger" (onClick)="showConfirmationToDelete(rowData)"></p-button>

          <ng-container *ngIf="nomeEntidade == 'Cliente'">
            <p-button pTooltip="Gerenciar Dependentes" icon="pi pi-users" class="mr-1" styleClass="p-button-primary" (onClick)="gerenciarDependente(rowData)"></p-button>
            <p-button [pTooltip]="rowData.esta_ativo ? 'Desativar Sócio' : 'Ativar Sócio'" [icon]="rowData.esta_ativo ? 'pi pi-lock-open' : 'pi pi-lock'" class="mr-1" styleClass="p-button-secondary" (onClick)="ativarOrDesativarSocio(rowData)"></p-button>
            <p-button pTooltip="Visualizar Cliente" icon="pi pi-info" class="mr-1" styleClass="p-button-help" (onClick)="showConfirmationToDelete(rowData)"></p-button>
          </ng-container>

          <ng-container *ngIf="nomeEntidade == 'Dependente'">
            <p-button [pTooltip]="rowData.esta_ativo ? 'Desativar Dependente' : 'Ativar Dependente'" [icon]="rowData.esta_ativo ? 'pi pi-lock-open' : 'pi pi-lock'" class="mr-1" styleClass="p-button-secondary" (onClick)="ativarOrDesativarDependente(rowData)"></p-button>
          </ng-container>
        </td>


      </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog [header]="'Cadastrar ' + nomeEntidade" [(visible)]="openDialog" [responsive]="true"
  [style]="{ 'width': '50vw', 'height': '60hw' }">
  <ng-container *ngIf="openDialog">
    <create-generic [nomeEntidade]="nomeEntidade" [atributos]="cols" [idEntidade]="idEntidade" [rota]="rota" (formularioEnviado)="processarFormulario($event)">
    </create-generic>
  </ng-container>
</p-dialog>

<p-dialog [header]="'Gerenciar Dependentes'" [(visible)]="openDialogDependentes" [responsive]="true"
  [style]="{ 'width': '80vw', 'min-height': '80hw' }">
  <ng-container *ngIf="openDialogDependentes">
    <cadastros [nomeEntidade]="'Dependente'" (onSave)="onSaveCadastros($event)" >
    </cadastros>
  </ng-container>
</p-dialog>

<p-messages></p-messages>
